<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todoリスト</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <div id="app">
    <h1>ToDoリスト</h1>
    
    <div v-if="user" class="user-area">
      <button @click="logout">ログアウト</button>
    </div>
    <div v-else class="user-area">
      <button @click="login">Googleでログイン</button>
    </div>

    <form class="add-form" @submit.prevent="doAdd">
      <input type="text" id="todo-input" v-model="newTodo" placeholder="タスクを入力">
      <input type="date" id="todo-date" v-model="newDate">
      <button type="submit">追加</button>
    </form>

    <table>
      <thead>
        <tr><th>コメント</th><th>期限</th><th>状態</th><th>-</th></tr>
      </thead>
      <tbody>
        <tr v-for="item in todos" :key="item.id">
          <td>{{ item.comment }}</td>
          <td>{{ item.dueDate }}</td>
          <td><button @click="doChangeState(item)">{{ item.state }}</button></td>
          <td><button @click="doRemove(item)">削除</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.22.0/firebase-auth-compat.js"></script>
  <script>
    // 新しいキーを適用済み
    const firebaseConfig = {
      apiKey: "
